# 1c publication
Alias "/{{ url }}" "/usr/local/apache2/htdocs/{{ url }}/"
<Directory "/usr/local/apache2/htdocs/{{ url }}/">
    AllowOverride All
    Options None
    Order allow,deny
    Allow from all
    SetHandler 1c-application
    ManagedApplicationDescriptor "/usr/local/apache2/htdocs/{{ url }}/default.vrd"
</Directory>